[data-autocomplete-wrapper] ul {
  background: white;
  border: 1px solid #333;
}

[data-autocomplete-wrapper] li {
  padding: 10px;
  cursor: pointer;
  color: initial; /* Required for off-canvas */
}

.a11y-autocomplete__selected-items {
  display: flex;
  padding: 10px 0;
}

.a11y-autocomplete__selected-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.a11y-autocomplete__remove-selected {
  text-indent: -10000%;
  height: 16px;
  width: 16px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  outline: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke-width='3' stroke-linecap='round' stroke='black'%3E%3Cline x1='20%25' x2='80%25' y1='20%25' y2='80%25'/%3E%3Cline x1='80%25' x2='20%25' y1='20%25' y2='80%25'/%3E%3C/svg%3E%0A") center no-repeat;
  margin-left: 10px;
}
